<form action="/create" method="post">
    <h1 class="title-create">Crie um post aqui</h1>
    <a href="/dashboard">Voltar ao dashboard</a>
    <div class="form-group">
        <label for="title">Titulo:</label>
        <input type="text" name="title" placeholder="Digite um nome para o post">
    </div>
    <div class="form-group">
        <label for="content">Conteudo:</label>
        <textarea name="content" placeholder="Digite o conteudo"></textarea>
    </div>
    <input type="submit" value="Publicar">
</form>